<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3 d-flex justify-content-center">
            @RenderBody()
        </main>
    </div>
</body>
</html>
