@{
	ViewData["Title"] = "Account";
}

<div class="container mx-auto">
	<div class="row justify-content-center">
		<div class="col-12 col-lg-6">
			<h1 class="mt-3 mb-3 h3">
				Account
			</h1>

			<div class="mb-3">
				<button class="btn" >
					<a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
				</button>
			</div>
			<div class="mb-3">
				<button class="btn">
					<a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
				</button>
			</div>
		</div>
	</div>
</div>
