@model byte[]

@{
    ViewData["Title"] = "Exibir Imagem";
}

<h1>Exibição de Imagem</h1>

@if (Model != null && Model.Length > 0)
{
    <img src="data:image/png;base64,@Convert.ToBase64String(Model)" alt="Imagem" />
}
else
{
    <p>Imagem não encontrada.</p>
}
