@{
    ViewData["Title"] = "Sender";
}

<div class="container mx-auto">
	<div class="row justify-content-center">
		<div class="col-12 col-lg-6">
			<h1 class="mt-3 mb-3 h3">
				Send Image
			</h1>
			<form method="post" enctype="multipart/form-data">
				<div class="mb-3">
					<label class="form-label">Browse Image</label>
                    <input type="file" id="browse_image" class="form-control" name="file" required accept=".jpg, .jpeg, .png, .gif" />
				</div>

				<div class="mb-3">
                    <label class="form-label">Topics</label>
                    <div>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input catCheckbox" name="topics" value="cat_mobile"> Cat Mobile
                        </label>
                    </div>
                    <div class="mb-2">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input catCheckbox" name="topics" value="cat_email"> Cat Email
                        </label>
                    </div>
                    <div>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input dogCheckbox" name="topics" value="dog_mobile"> Dog Mobile
                        </label>
                    </div>
                    <div>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input dogCheckbox" name="topics" value="dog_email"> Dog Email
                        </label>
                    </div>
				</div>

				<div class="mb-3">
					<button type="submit" class="btn btn-dark">Send</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
    $(document).ready(function () {
        $(".catCheckbox").on("change", function () {
            if ($(this).prop("checked")) {
                // Se um "cat" for selecionado, desmarcar todas as caixas "dog"
                $(".dogCheckbox").prop("checked", false);
            }
        });

        $(".dogCheckbox").on("change", function () {
            if ($(this).prop("checked")) {
                // Se um "dog" for selecionado, desmarcar todas as caixas "cat"
                $(".catCheckbox").prop("checked", false);
            }
        });
    });

    $(document).ready(function () {
        $("form").submit(function (event) {
            var catChecked = $("input.catCheckbox:checked").length > 0;
            var dogChecked = $("input.dogCheckbox:checked").length > 0;

            if (!catChecked && !dogChecked) {
                alert("Select at least one topic option (Cat ou Dog)");
                event.preventDefault(); // Impede o envio do formulário
            }
        });
    });
</script>

